/* @import "tailwindcss"; */
@import "tailwindcss";


:root {
    --color-accent: #393185;
}

html {
    scroll-behavior: smooth;
}


@theme {
    --color-accent-50: oklch(0.9 0.02 270);
    --color-accent-100: oklch(0.85 0.03 270);
    --color-accent-200: oklch(0.75 0.05 270);
    --color-accent-300: oklch(0.65 0.07 270);
    --color-accent-400: oklch(0.55 0.09 270);
    --color-accent-500: #393185;
    /* base color */
    --color-accent-600: oklch(0.45 0.08 270);
    --color-accent-700: oklch(0.35 0.07 270);
    --color-accent-800: oklch(0.25 0.06 270);
    --color-accent-900: oklch(0.18 0.05 270);
}